<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Book Library</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
  <section class="hero is-info is-fullheight">
      <table border="2">
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>College ID</th>
              <th>Book Name</th>
              <th>Date Book Purchased</th>
              <th>Date Book Return</th>
              <th>Status Book</th>
          </tr>
          {% for user in userDetails %}
          <tr>
              <td>{{user[0]}}</td>
              <td>{{user[1]}}</td>
              <td>{{user[2]}}</td>
              <td>{{user[3]}}</td>
              <td>{{user[4]}}</td>
              <td>{{user[5]}}</td>
              <td>{{user[6]}}</td>
              <td>{{user[7]}}</td>
          </tr>
          {% endfor %}
      </table>
  </section>