<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Book Library</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form  action="{{ url_for('book_return') }}"  method="POST">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              {{ message }}
              {% endfor %}
              {% endif %}
              {% endwith %}
              <div class="field">
                <label for="Name">Name of the student</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" id="Name" type="text" name="name" placeholder="Student Name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="Email">Email</label>
                <p class="control has-icons-left">
                  <input class="input"type="email" name="email" id="Email"  placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">submit</button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
