<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Book Library</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
              <div class="field">
                  <form method="post" action="">
                      <div class="msg">{{ msg }}</div>
                      <div class="field">
                          <label for="password">Password</label>
                          <p class="control has-icons-left">
                              <input class="input" type="Password" name="password" id="password"  placeholder="Enter Your Password">
                              <span class="icon is-small is-left">
                                  <i class="fas fa-user"></i>
                              </span>
                          </p>
                      </div>
                      <div class="field">
                          <label for="password_verify">Re-type password</label>
                          <p class="control has-icons-left">
                              <input class="input"type="password" name="password_verify" id="password_verify"  placeholder="Re-type password">
                              <span class="icon is-small is-left">
                                  <i class="fas fa-user"></i>
                              </span>
                          </p>
                      </div>
                      <div class="field">
                          <p class="control"><button  class="button is-success">Reset password</button></p>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
